*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    
}
/*MENU*/
.capa{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
    top: 0;
    left: 0;
}
.header{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    margin-right: 10px;
    float: left;
}
.contenido{
    width: 100%;
    margin: auto;
}
.contenido .btn-menu, .logo{
    float: left;
    line-height: 250px;
}
.contenido .btn-menu label{
    color: rgb(255, 255, 255);
    font-size: 40px;
    cursor: pointer;
}
.logo h1{
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
}
.contenido .menu{
    float: right;
    line-height: 70px;
}
.contenido ,menu a:hover{
    border-bottom: 2px solid greenyellow;
    padding: 100px 10px;
}
#btn-menu{
    display: none;
}
.contenido-menu{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    

}
#btn-menu:checked ~ .contenido-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: rgb(54, 55, 58);
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    font-size: 30px;
    background: linear-gradient(rgb(213, 219, 211),rgb(116, 133, 119));
    color:rgb(8, 6, 6);
    font-weight: bold;
    font-size: 30px;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #56bbf5;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 35px;
} /*MENU*/
/*.tabla{
    border: #eaf2f7 solid 5px;
    margin-right: 250px;
    margin-left: 250px;
}
.fila2{
    background: radial-gradient(rgb(109, 243, 243),rgb(82, 132, 240),rgb(111, 81, 245));
    color: black;
    font-size: 30px;
    font-family: Tahoma;
}*/
#contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedor1 img{
    width: 400px;
    height: 400px;
}
.contenedor2{
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    border: white solid 2px;
    width: 400px;

}

@media(max-width:768px){
    #contenedor{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
    }
 }
